### Persiapan

In [36]:
#Import library
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
#Membaca dataset
data_raw = pd.read_csv("heart.csv")

data_raw = data_raw[(data_raw["Cholesterol"] != 0) & (data_raw["RestingBP"] != 0)]

data_raw

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [4]:
data = np.array(data_raw)
data = data[:, [0, 3, 4, 7]]

atribute = ["Age", "RestingBP", "Cholesterol", "MaxHR"]

kolom_valid_untuk_tampil = [kol for kol in atribute if kol in data_raw.columns]
kolom_tidak_ada = [kol for kol in atribute if kol not in data_raw.columns]

if kolom_tidak_ada:
    print(f"\nKolom berikut tidak ditemukan di data mentah: {kolom_tidak_ada}")

if kolom_valid_untuk_tampil:
    print(f"\nMenampilkan {len(kolom_valid_untuk_tampil)} atribut yang dipilih dari data mentah:")
    print(data_raw[kolom_valid_untuk_tampil])
else:
    print("\nTidak ada kolom valid yang bisa ditampilkan dari daftar yang Anda minta.")

Menampilkan 4 atribut yang dipilih dari data mentah:
     Age  RestingBP  Cholesterol  MaxHR
0     40        140          289    172
1     49        160          180    156
2     37        130          283     98
3     48        138          214    108
4     54        150          195    122
..   ...        ...          ...    ...
913   45        110          264    132
914   68        144          193    141
915   57        130          131    115
916   57        130          236    174
917   38        138          175    173

[746 rows x 4 columns]

In [5]:
# Rentang umur
min_age = np.min(data[:, 0])
max_age = np.max(data[:, 0])
print("Rentang umur: ")
print(f"Min: {min_age}")
print(f"Max: {max_age}")
print()

# Rentang RestingBP
min_rbp = np.min(data[:, 1])
max_rbp = np.max(data[:, 1])
print("Rentang restingBP: ")
print(f"Min: {min_rbp}")
print(f"Max: {max_rbp}")
print()

# Rentang kadar kolesterol
min_kol = np.min(data[:, 2])
max_kol = np.max(data[:, 2])
print("Rentang kadar kolesterol: ")
print(f"Min: {min_kol}")
print(f"Max: {max_kol}")
print()

# Rentang maximum heart rate
min_mhr = np.min(data[:, 3])
max_mhr = np.max(data[:, 3])
print("Rentang maximum heart rate: ")
print(f"Min: {min_mhr}")
print(f"Max: {max_mhr}")

Rentang umur:
Min: 28
Max: 77

Rentang restingBP:
Min: 92
Max: 200

Rentang kadar kolesterol:
Min: 85
Max: 603

Rentang maximum heart rate:
Min: 69
Max: 202

### Input

In [7]:
inp_age = input("Masukkan umur: ")
inp_rbp = input("Masukkan restingBP: ")
inp_kol = input("Masukkan kolesterol: ")
inp_mhr = input("Masukkan maximumHR: ")

Masukkan umur:  1
Masukkan restingBP:  2
Masukkan kolesterol:  3
Masukkan maximumHR:  4

### Proses Fuzzification

In [38]:
#Fuzzification
pltage = np.arange(0, 96, 1)
pltrbp = np.arange(0, 201, 1)
pltkol = np.arange(0, 701, 1)
pltmhr = np.arange(0, 201, 1)

In [9]:
# Menghitung Fuzzy
def fuzzify_age(age):
    if age <= 40:
        return 1, 0, 0
    elif 40 < age <= 60:
        return (60 - age) / 20, (age - 40) / 20, 0
    elif 60 < age <= 77:
        return 0, (77 - age) / 17, (age - 60) / 17
    else:
        return 0, 0, 1

def fuzzify_rbp(rbp):
    if rbp < 120:
        return 1, 0, 0
    elif 120 <= rbp <= 160:
        return (160 - rbp) / 40, (rbp - 120) / 40, 0
    elif 160 < rbp <= 200:
        return 0, (200 - rbp) / 40, (rbp - 160) / 40
    else:
        return 0, 0, 1
        
def fuzzify_kol(kol):
    if kol < 150:
        return 1, 0, 0
    elif 150 <= kol <= 350:
        return (350 - kol) / 200, (kol - 150) / 200, 0
    elif 350 < kol <= 603:
        return 0, (603 - kol) / 253, (kol - 350) / 253
    else:
        return 0, 0, 1
        
def fuzzify_mhr(mhr):
    if mhr < 110:
        return 1, 0, 0
    elif 110 <= mhr <= 150:
        return (150 - mhr) / 40, (mhr - 110) / 40, 0
    elif 150 < mhr <= 202:
        return 0, (202 - mhr) / 52, (mhr - 150) / 52
    else:
        return 0, 0, 1

In [21]:
inp_age = float(input("Masukkan umur (28 - 77): "))
inp_rbp = float(input("Masukkan RestingBP (92 - 200): "))
inp_kol = float(input("Masukkan Kolesterol (85 - 603): "))
inp_mhr = float(input("Masukkan MaxHR (69 - 202): "))

Masukkan umur (28 - 77):  49
Masukkan RestingBP (92 - 200):  150
Masukkan Kolesterol (85 - 603):  100
Masukkan MaxHR (69 - 202):  100

In [60]:
age = []
rbp = []
kol = []
mhr = []

# Memasukkan nilai fuzzy ke dalam list
f1, f2, f3 = fuzzify_age(inp_age)
age.append(f1)
age.append(f2)
age.append(f3)

f1, f2, f3 = fuzzify_rbp(inp_rbp)
rbp.append(f1)
rbp.append(f2)
rbp.append(f3)

f1, f2, f3 = fuzzify_kol(inp_kol)
kol.append(f1)
kol.append(f2)
kol.append(f3)

f1, f2, f3 = fuzzify_mhr(inp_mhr)
mhr.append(f1)
mhr.append(f2)
mhr.append(f3)

In [62]:
print("Nilai umur: ")
print(f"Muda: {age[0]}")
print(f"Dewasa: {age[1]}")
print(f"Tua: {age[2]}\n")

print("Nilai restingBP: ")
print(f"Rendah: {rbp[0]}")
print(f"Normal: {rbp[1]}")
print(f"Tinggi: {rbp[2]}\n")

print("Nilai kolesterol: ")
print(f"Rendah: {kol[0]}")
print(f"Normal: {kol[1]}")
print(f"Tinggi: {kol[2]}\n")

print("Nilai maximum heart rate: ")
print(f"Rendah: {mhr[0]}")
print(f"Normal: {mhr[1]}")
print(f"Tinggi: {mhr[2]}")

Nilai umur:
Muda: 0.55
Dewasa: 0.45
Tua: 0

Nilai restingBP:
Rendah: 0.25
Normal: 0.75
Tinggi: 0

Nilai kolesterol:
Rendah: 1
Normal: 0
Tinggi: 0

Nilai maximum heart rate:
Rendah: 1
Normal: 0
Tinggi: 0

## Inference / Rule

Jika umur = muda, kolesterol = normal, dan maxhr = normal. Maka tidak beresiko

In [66]:
r1 = min(age[0], kol[0], mhr[0])
print("TIdak beresiko", r1)

r2 = min(age[0], kol[0], mhr[1])
print("TIdak beresiko", r1)

r3 = min(age[0], kol[0], mhr[2])
print("TIdak beresiko", r1)

r4 = min(age[0], kol[1], mhr[0])
print("TIdak beresiko", r1)

r5 = min(age[0], kol[2], mhr[0])
print("TIdak beresiko", r1)

r6 = min(age[0], kol[1], mhr[1])
print("TIdak beresiko", r1)

r7 = min(age[0], kol[1], mhr[2])
print("TIdak beresiko", r1)

r8 = min(age[0], kol[2], mhr[2])
print("TIdak beresiko", r1)

r9 = min(age[0], kol[2], mhr[2])
print("TIdak beresiko", r1)

r10 = min(age[1], kol[0], mhr[0])
print("TIdak beresiko", r1)

r11 = min(age[1], kol[0], mhr[1])
print("TIdak beresiko", r1)

r12 = min(age[1], kol[0], mhr[2])
print("TIdak beresiko", r1)

r13 = min(age[1], kol[1], mhr[0])
print("TIdak beresiko", r1)

r14 = min(age[1], kol[2], mhr[0])
print("TIdak beresiko", r1)

r15 = min(age[1], kol[1], mhr[1])
print("TIdak beresiko", r1)

r16 = min(age[1], kol[1], mhr[2])
print("TIdak beresiko", r1)

r17 = min(age[1], kol[2], mhr[1])
print("TIdak beresiko", r1)

r18 = min(age[1], kol[2], mhr[2])
print("TIdak beresiko", r1)

r19 = min(age[2], kol[0], mhr[0])
print("TIdak beresiko", r1)

r20 = min(age[2], kol[0], mhr[1])
print("TIdak beresiko", r1)

r21 = min(age[2], kol[0], mhr[2])
print("TIdak beresiko", r1)

r22 = min(age[2], kol[1], mhr[0])
print("TIdak beresiko", r1)

r23 = min(age[2], kol[2], mhr[0])
print("TIdak beresiko", r1)

r24 = min(age[2], kol[1], mhr[1])
print("TIdak beresiko", r1)

r25 = min(age[2], kol[1], mhr[2])
print("TIdak beresiko", r1)

r26 = min(age[2], kol[2], mhr[1])
print("TIdak beresiko", r1)

r27 = min(age[2], kol[2], mhr[2])
print("TIdak beresiko", r1)

TIdak beresiko 0

## Defuzzification

In [20]:
def fuzzify_age(age):
    if age <= 40:
        return {"Muda": 1, "Dewasa": 0, "Tua": 0}
    elif 40 < age <= 60:
        return {"Muda": (60 - age) / 20, "Dewasa": (age - 40) / 20, "Tua": 0}
    elif 60 < age <= 77:
        return {"Muda": 0, "Dewasa": (77 - age) / 17, "Tua": (age - 60) / 17}
    else:
        return {"Muda": 0, "Dewasa": 0, "Tua": 1}
def fuzzify_rbp(rbp):
    if rbp < 120:
        return {"Rendah": 1, "Normal": 0, "Tinggi": 0}
    elif 120 <= rbp <= 160:
        return {"Rendah": (160 - rbp) / 40, "Normal": (rbp - 120) / 40, "Tinggi": 0}
    elif 160 < rbp <= 200:
        return {"Rendah": 0, "Normal": (200 - rbp) / 40, "Tinggi": (rbp - 160) / 40}
    else:
        return {"Rendah": 0, "Normal": 0, "Tinggi": 1}
def fuzzify_kol(kol):
    if kol < 150:
        return {"Rendah": 1, "Normal": 0, "Tinggi": 0}
    elif 150 <= kol <= 350:
        return {"Rendah": (350 - kol) / 200, "Normal": (kol - 150) / 200, "Tinggi": 0}
    elif 350 < kol <= 603:
        return {"Rendah": 0, "Normal": (603 - kol) / 253, "Tinggi": (kol - 350) / 253}
    else:
        return {"Rendah": 0, "Normal": 0, "Tinggi": 1}
def fuzzify_mhr(mhr):
    if mhr < 110:
        return {"Rendah": 1, "Normal": 0, "Tinggi": 0}
    elif 110 <= mhr <= 150:
        return {"Rendah": (150 - mhr) / 40, "Normal": (mhr - 110) / 40, "Tinggi": 0}
    elif 150 < mhr <= 202:
        return {"Rendah": 0, "Normal": (202 - mhr) / 52, "Tinggi": (mhr - 150) / 52}
    else:
        return {"Rendah": 0, "Normal": 0, "Tinggi": 1}
def fuzzify_input():
    # Meminta input dari pengguna (tanpa meng-assign nilai secara manual)
    inp_age = float(input("Masukkan umur (28 - 77): "))
    inp_rbp = float(input("Masukkan RestingBP (92 - 200): "))
    inp_kol = float(input("Masukkan Kolesterol (85 - 603): "))
    inp_mhr = float(input("Masukkan MaxHR (69 - 202): "))

    # Fuzzify setiap input
    age_fuzzy = fuzzify_age(inp_age)
    rbp_fuzzy = fuzzify_rbp(inp_rbp)
    kol_fuzzy = fuzzify_kol(inp_kol)
    mhr_fuzzy = fuzzify_mhr(inp_mhr)

    # Membuat tabel hasil fuzzification menggunakan pandas
    fuzz_table = pd.DataFrame({
        "Kategori": ["Muda", "Dewasa", "Tua"],
        "Umur": [age_fuzzy["Muda"], age_fuzzy["Dewasa"], age_fuzzy["Tua"]],
        "RestingBP": [rbp_fuzzy["Rendah"], rbp_fuzzy["Normal"], rbp_fuzzy["Tinggi"]],
        "Kolesterol": [kol_fuzzy["Rendah"], kol_fuzzy["Normal"], kol_fuzzy["Tinggi"]],
        "MaxHR": [mhr_fuzzy["Rendah"], mhr_fuzzy["Normal"], mhr_fuzzy["Tinggi"]]
    })

    # Menampilkan hasil fuzzification dalam bentuk tabel
    print("\nHasil Fuzzification dalam bentuk tabel:")
    print(fuzz_table)
    print(age_fuzzy)

# Panggil fungsi fuzzify_input untuk menerima input dari pengguna
fuzzify_input()

Masukkan umur (28 - 77):  29
Masukkan RestingBP (92 - 200):  100
Masukkan Kolesterol (85 - 603):  100
Masukkan MaxHR (69 - 202):  90

Hasil Fuzzification dalam bentuk tabel:
  Kategori  Umur  RestingBP  Kolesterol  MaxHR
0     Muda     1          1           1      1
1   Dewasa     0          0           0      0
2      Tua     0          0           0      0
{'Muda': 1, 'Dewasa': 0, 'Tua': 0}

In [11]:
# Age Fuzzy Sets
fig = plt.figure(figsize=(8,4))
plt.plot(age, age_muda, label='Muda')
plt.plot(age, age_paruh_baya, label='Paruh Baya')
plt.plot(age, age_tua, label='Tua')
plt.title('Fuzzy Sets for Age')
plt.xlabel('Age')
plt.ylabel('Membership')
plt.legend()

NameError: name 'age_muda' is not defined

In [12]:
# RestingBP Fuzzy Sets
fig = plt.figure(figsize=(8,4))
plt.plot(rbp, rbp_low, label='Low')
plt.plot(rbp, rbp_medium, label='Medium')
plt.plot(rbp, rbp_high, label='High')
plt.title('Fuzzy Sets for RestingBP')
plt.xlabel('Resting BP')
plt.ylabel('Membership')
plt.legend()

NameError: name 'rbp_low' is not defined

In [14]:
# Cholesterol Fuzzy Sets
fig = plt.figure(figsize=(8,4))
plt.plot(kol, kol_low, label='Low')
plt.plot(kol, kol_medium, label='Medium')
plt.plot(kol, kol_high, label='High')
plt.title('Fuzzy Sets for Cholesterol')
plt.xlabel('Cholesterol')
plt.ylabel('Membership')
plt.legend()

NameError: name 'kol_low' is not defined

In [16]:
# MaxHR Fuzzy Sets
fig = plt.figure(figsize=(8,4))
plt.plot(mhr, mhr_low, label='Low')
plt.plot(mhr, mhr_medium, label='Medium')
plt.plot(mhr, mhr_high, label='High')
plt.title('Fuzzy Sets for MaxHR')
plt.xlabel('Max HR')
plt.ylabel('Membership')
plt.legend()

NameError: name 'mhr_low' is not defined

In [ ]:
plt.tight_layout()
plt.show()