### Persiapan

In [19]:
#Import library
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [21]:
#Membaca dataset
data_raw = pd.read_csv("heart.csv")
data_raw

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [29]:
data = np.array(data_raw)
data = data[:, [0, 3, 4, 7]]

atribute = ["Age", "RestingBP", "Cholesterol", "MaxHR"]

kolom_valid_untuk_tampil = [kol for kol in atribute if kol in data_raw.columns]
kolom_tidak_ada = [kol for kol in atribute if kol not in data_raw.columns]

if kolom_tidak_ada:
    print(f"\nKolom berikut tidak ditemukan di data mentah: {kolom_tidak_ada}")

if kolom_valid_untuk_tampil:
    print(f"\nMenampilkan {len(kolom_valid_untuk_tampil)} atribut yang dipilih dari data mentah:")
    print(data_raw[kolom_valid_untuk_tampil])
else:
    print("\nTidak ada kolom valid yang bisa ditampilkan dari daftar yang Anda minta.")

Menampilkan 4 atribut yang dipilih dari data mentah:
     Age  RestingBP  Cholesterol  MaxHR
0     40        140          289    172
1     49        160          180    156
2     37        130          283     98
3     48        138          214    108
4     54        150          195    122
..   ...        ...          ...    ...
913   45        110          264    132
914   68        144          193    141
915   57        130          131    115
916   57        130          236    174
917   38        138          175    173

[918 rows x 4 columns]

In [31]:
# Rentang umur
min_age = np.min(data[:, 0])
max_age = np.max(data[:, 0])
print("Rentang umur: ")
print(f"Min: {min_age}")
print(f"Max: {max_age}")
print()

# Rentang RestingBP
min_rbp = np.min(data[:, 1])
max_rbp = np.max(data[:, 1])
print("Rentang restingBP: ")
print(f"Min: {min_rbp}")
print(f"Max: {max_rbp}")
print()

# Rentang kadar kolesterol
min_kol = np.min(data[:, 2])
max_kol = np.max(data[:, 2])
print("Rentang kadar kolesterol: ")
print(f"Min: {min_kol}")
print(f"Max: {max_kol}")
print()

# Rentang maximum heart rate
min_mhr = np.min(data[:, 3])
max_mhr = np.max(data[:, 3])
print("Rentang maximum heart rate: ")
print(f"Min: {min_mhr}")
print(f"Max: {max_mhr}")

Rentang umur:
Min: 28
Max: 77

Rentang restingBP:
Min: 0
Max: 200

Rentang kadar kolesterol:
Min: 0
Max: 603

Rentang maximum heart rate:
Min: 60
Max: 202

### Input

In [34]:
inp_age = input("Masukkan umur: ")
inp_rbp = input("Masukkan restingBP: ")
inp_kol = input("Masukkan kolesterol: ")
inp_mhr = input("Masukkan maximumHR: ")

Masukkan umur:  69
Masukkan restingBP:  23
Masukkan kolesterol:  2424
Masukkan maximumHR:  45

### Proses Fuzzification

In [ ]:
#Fuzzification
age = np.arange(0, 91, 1)
rbp = np.arange(0, 201, 1)
kol = np.arange(0, 701, 1)
mhr = np.arange(0, 251, 1)