### Persiapan

In [161]:
#Import library
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [162]:
#Membaca dataset
data_raw = pd.read_csv("heart.csv")

data_raw = data_raw[(data_raw["Cholesterol"] != 0) & (data_raw["RestingBP"] != 0)]

data_raw

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [163]:
data = np.array(data_raw)
data = data[:, [0, 4, 7]]

atribute = ["Age", "Cholesterol", "MaxHR"]

kolom_valid_untuk_tampil = [kol for kol in atribute if kol in data_raw.columns]
kolom_tidak_ada = [kol for kol in atribute if kol not in data_raw.columns]

if kolom_tidak_ada:
    print(f"\nKolom berikut tidak ditemukan di data mentah: {kolom_tidak_ada}")

if kolom_valid_untuk_tampil:
    print(f"\nMenampilkan {len(kolom_valid_untuk_tampil)} atribut yang dipilih dari data mentah:")
    print(data_raw[kolom_valid_untuk_tampil])
else:
    print("\nTidak ada kolom valid yang bisa ditampilkan dari daftar yang Anda minta.")

Menampilkan 3 atribut yang dipilih dari data mentah:
     Age  Cholesterol  MaxHR
0     40          289    172
1     49          180    156
2     37          283     98
3     48          214    108
4     54          195    122
..   ...          ...    ...
913   45          264    132
914   68          193    141
915   57          131    115
916   57          236    174
917   38          175    173

[746 rows x 3 columns]

In [164]:
# Rentang umur
min_age = np.min(data[:, 0])
max_age = np.max(data[:, 0])
print("Rentang umur: ")
print(f"Min: {min_age}")
print(f"Max: {max_age}")
print()

# Rentang kadar kolesterol
min_kol = np.min(data[:, 1])
max_kol = np.max(data[:, 1])
print("Rentang kadar kolesterol: ")
print(f"Min: {min_kol}")
print(f"Max: {max_kol}")
print()

# Rentang maximum heart rate
min_mhr = np.min(data[:, 2])
max_mhr = np.max(data[:, 2])
print("Rentang maximum heart rate: ")
print(f"Min: {min_mhr}")
print(f"Max: {max_mhr}")

Rentang umur:
Min: 28
Max: 77

Rentang kadar kolesterol:
Min: 85
Max: 603

Rentang maximum heart rate:
Min: 69
Max: 202

### Input

In [166]:
#inp_age = input("Masukkan umur: ")
#inp_kol = input("Masukkan kolesterol: ")
#inp_mhr = input("Masukkan maximumHR: ")

### Proses Fuzzification

In [168]:
#Fuzzification
pltage = np.arange(0, 96, 1)
pltrbp = np.arange(0, 201, 1)
pltkol = np.arange(0, 701, 1)
pltmhr = np.arange(0, 201, 1)

In [169]:
# Menghitung Fuzzy
def fuzzify_age(age):
    if age <= 35:
        return 1, 0, 0
    elif 35 < age <= 40:
        return (40 - age) / 5, (age - 35) / 5, 0
    elif 40 < age <= 55:
        return 0, 1, 0
    elif 55 < age <= 60:
        return 0, (60 - age) / 5, (age - 55) / 5
    else:
        return 0, 0, 1
        
def fuzzify_kol(kol):
    if kol <= 150:
        return 1, 0, 0
    elif 150 < kol <= 220:
        return (200 - kol) / 50, (kol - 180) / 40, 0
    elif 220 < kol <= 300:
        return 0, (260 - kol) / 40, (kol - 240) / 60
    else:
        return 0, 0, 1
        
def fuzzify_mhr(mhr):
    if mhr <= 80:
        return 1, 0, 0
    elif 80 < mhr <= 90:
        return (90 - mhr) / 10, (mhr - 80) / 10, 0
    elif 90 < mhr <= 150:
        return 0, 1, 0
    elif 150 < mhr <= 160:
        return 0, (160 - mhr) / 10, (mhr - 150) / 10
    else:
        return 0, 0, 1

In [170]:
inp_age = float(input("Masukkan umur (28 - 77): "))
inp_kol = float(input("Masukkan Kolesterol (85 - 603): "))
inp_mhr = float(input("Masukkan MaxHR (69 - 202): "))

Masukkan umur (28 - 77):  49
Masukkan Kolesterol (85 - 603):  180
Masukkan MaxHR (69 - 202):  156

In [171]:
age = []
kol = []
mhr = []

# Memasukkan nilai fuzzy ke dalam list
f1, f2, f3 = fuzzify_age(inp_age)
age.append(f1)
age.append(f2)
age.append(f3)

f1, f2, f3 = fuzzify_kol(inp_kol)
kol.append(f1)
kol.append(f2)
kol.append(f3)

f1, f2, f3 = fuzzify_mhr(inp_mhr)
mhr.append(f1)
mhr.append(f2)
mhr.append(f3)

In [172]:
print("Nilai umur: ")
print(f"Muda: {age[0]}")
print(f"Dewasa: {age[1]}")
print(f"Tua: {age[2]}\n")

print("Nilai kolesterol: ")
print(f"Rendah: {kol[0]}")
print(f"Normal: {kol[1]}")
print(f"Tinggi: {kol[2]}\n")

print("Nilai maximum heart rate: ")
print(f"Rendah: {mhr[0]}")
print(f"Normal: {mhr[1]}")
print(f"Tinggi: {mhr[2]}")

Nilai umur:
Muda: 0
Dewasa: 1
Tua: 0

Nilai kolesterol:
Rendah: 0.4
Normal: 0.0
Tinggi: 0

Nilai maximum heart rate:
Rendah: 0
Normal: 0.4
Tinggi: 0.6

## Inference / Rule

1. Jika umur muda, kolesterol rendah, dan maxhr rendah. Maka beresiko
2. Jika umur muda, kolesterol rendah, dan maxhr normal. Maka tidak beresiko
3. Jika umur muda, kolesterol rendah, dan maxhr tinggi. Maka tidak beresiko
4. Jika umur muda, kolesterol normal, dan maxhr rendah. Maka beresiko
5. Jika umur muda, kolesterol tinggi, dan maxhr rendah. Maka beresiko
6. Jika umur muda, kolesterol normal, dan maxhr normal. Maka tidak beresiko
7. Jika umur muda, kolesterol normal, dan maxhr tinggi. Maka tidak beresiko
8. Jika umur muda, kolesterol tinggi, dan maxhr normal. Maka beresiko
9. Jika umur muda, kolesterol tinggi, dan maxhr tinggi. Maka beresiko
10. Jika umur paruh baya, kolesterol rendah, dan maxhr rendah. Maka beresiko
11. Jika umur paruh baya, kolesterol rendah, dan maxhr normal. Maka tidak beresiko
12. Jika umur paruh baya, kolesterol rendah, dan maxhr tinggi. Maka tidak beresiko
13. Jika umur paruh baya, kolesterol normal, dan maxhr rendah. Maka beresiko
14. Jika umur paruh baya, kolesterol tinggi, dan maxhr rendah. Maka beresiko
15. Jika umur paruh baya, kolesterol normal, dan maxhr normal. Maka tidak beresiko
16. Jika umur paruh baya, kolesterol normal, dan maxhr tinggi. Maka tidak beresiko
17. Jika umur paruh baya, kolesterol tinggi, dan maxhr normal. Maka beresiko
18. Jika umur paruh baya, kolesterol tinggi, dan maxhr tinggi. Maka beresiko
19. Jika umur tua, kolesterol rendah, dan maxhr rendah. Maka beresiko
20. Jika umur tua, kolesterol rendah, dan maxhr normal. Maka beresiko
21. Jika umur tua, kolesterol rendah, dan maxhr tinggi. Maka beresiko
22. Jika umur tua, kolesterol normal, dan maxhr rendah. Maka beresiko
23. Jika umur tua, kolesterol tinggi, dan maxhr rendah. Maka beresiko
24. Jika umur tua, kolesterol normal, dan maxhr normal. Maka beresiko
25. Jika umur tua, kolesterol normal, dan maxhr tinggi. Maka beresiko
26. Jika umur tua, kolesterol tinggi, dan maxhr normal. Maka beresiko
27. Jika umur tua, kolesterol tinggi, dan maxhr tinggi. Maka beresiko

In [174]:
r1 = min(age[0], kol[0], mhr[0])

r2 = min(age[0], kol[0], mhr[1])

r3 = min(age[0], kol[0], mhr[2])

r4 = min(age[0], kol[1], mhr[0])

r5 = min(age[0], kol[2], mhr[0])

r6 = min(age[0], kol[1], mhr[1])

r7 = min(age[0], kol[1], mhr[2])

r8 = min(age[0], kol[2], mhr[2])

r9 = min(age[0], kol[2], mhr[2])

r10 = min(age[1], kol[0], mhr[0])

r11 = min(age[1], kol[0], mhr[1])

r12 = min(age[1], kol[0], mhr[2])

r13 = min(age[1], kol[1], mhr[0])

r14 = min(age[1], kol[2], mhr[0])

r15 = min(age[1], kol[1], mhr[1])

r16 = min(age[1], kol[1], mhr[2])

r17 = min(age[1], kol[2], mhr[1])

r18 = min(age[1], kol[2], mhr[2])

r19 = min(age[2], kol[0], mhr[0])

r20 = min(age[2], kol[0], mhr[1])

r21 = min(age[2], kol[0], mhr[2])

r22 = min(age[2], kol[1], mhr[0])

r23 = min(age[2], kol[2], mhr[0])

r24 = min(age[2], kol[1], mhr[1])

r25 = min(age[2], kol[1], mhr[2])

r26 = min(age[2], kol[2], mhr[1])

r27 = min(age[2], kol[2], mhr[2])

## Defuzzification

In [176]:
def norisk(c, r):
    if c <= 50:
        if r <= 1:
            return r
        else:
            return 1
    elif 50 < c <= 60:
        if r <= (60 - c) / 10:
            return r
        else:
            return (60 - c) / 10
    else:
        return 0

def risk(c, r):
    if c <= 50:
        if r <= 1:
            return r
        else:
            return 1
    elif 50 < c <= 60:
        if r <= (c - 50) / 10:
            return r
        else:
            return (c - 50) / 10
    else:
        return 0

In [177]:
res0 = max(r2, r3, r6, r7, r11, r12, r15, r16)
res1 = max(r1, r4, r5, r8, r9, r10, r13, r14, r17, r18, r19, r20, r21, r22, r23, r24, r25, r26, r27)

# tdk beresiko = 0 - 60
# tdk beresiko = 50 - 100
# Nilai random crisp = 5, 15, 25, 35, 45, 55, 65, 75, 85, 95
c1 = max(norisk(5, res0), risk(5, res1))
c2 = max(norisk(15, res0), risk(15, res1))
c3 = max(norisk(25, res0), risk(25, res1))
c4 = max(norisk(35, res0), risk(35, res1))
c5 = max(norisk(45, res0), risk(45, res1))
c6 = max(norisk(55, res0), risk(55, res1))
c7 = max(norisk(65, res0), risk(65, res1))
c8 = max(norisk(75, res0), risk(75, res1))
c9 = max(norisk(85, res0), risk(85, res1))
c10 = max(norisk(95, res0), risk(95, res1))

z = ((c1 * 5) + (c2 * 15) + (c3 * 25) + (c4 * 35) + (c5 * 45) + (c6 * 55) + (c7 * 65) + (c8 * 75) + (c9 * 85) + (c10 * 95)) / (c1 + c2 + c3 + c4 + c5 + c6 + c7 + c8 + c9 + c10)

print(z)

if z <= 50:
    print("Tidak Beresiko")
elif 50 < z <= 60:
    noresiko = (60 - z) / 10
    resiko = (z - 50) / 10
    if noresiko >= resiko:
        print("Tidak Beresiko")
    else:
        print("Beresiko")
else:
    print("Beresiko")

30.0
Tidak Beresiko

In [178]:
# Sugeno

# tidak beresiko = 60
# resiko 100

z = ((60 * res0) + (100 * res1)) / (res0 + res1)

print(z)

if z <= 50:
    print("Tidak Beresiko")
elif 50 < z <= 60:
    noresiko = (60 - z) / 10
    resiko = (z - 50) / 10
    if noresiko >= resiko:
        print("Tidak Beresiko")
    else:
        print("Beresiko")
else:
    print("Beresiko")

60.0
Beresiko

In [179]:
# Age Fuzzy Sets
fig = plt.figure(figsize=(8,4))
plt.plot(age, age_muda, label='Muda')
plt.plot(age, age_paruh_baya, label='Paruh Baya')
plt.plot(age, age_tua, label='Tua')
plt.title('Fuzzy Sets for Age')
plt.xlabel('Age')
plt.ylabel('Membership')
plt.legend()

NameError: name 'age_muda' is not defined

In [ ]:
# RestingBP Fuzzy Sets
fig = plt.figure(figsize=(8,4))
plt.plot(rbp, rbp_low, label='Low')
plt.plot(rbp, rbp_medium, label='Medium')
plt.plot(rbp, rbp_high, label='High')
plt.title('Fuzzy Sets for RestingBP')
plt.xlabel('Resting BP')
plt.ylabel('Membership')
plt.legend()

In [ ]:
# Cholesterol Fuzzy Sets
fig = plt.figure(figsize=(8,4))
plt.plot(kol, kol_low, label='Low')
plt.plot(kol, kol_medium, label='Medium')
plt.plot(kol, kol_high, label='High')
plt.title('Fuzzy Sets for Cholesterol')
plt.xlabel('Cholesterol')
plt.ylabel('Membership')
plt.legend()

In [ ]:
# MaxHR Fuzzy Sets
fig = plt.figure(figsize=(8,4))
plt.plot(mhr, mhr_low, label='Low')
plt.plot(mhr, mhr_medium, label='Medium')
plt.plot(mhr, mhr_high, label='High')
plt.title('Fuzzy Sets for MaxHR')
plt.xlabel('Max HR')
plt.ylabel('Membership')
plt.legend()

#### plt.tight_layout()
plt.show()